@keyframes BackNforth {
    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }

}

#currentMainButton{
    animation: BackNforth 0.85s ease-in 0s infinite;
}

#levelIcon{
    transform: translateY(-15pt);
}

.currentButton{
    font-size: 50px;
    cursor: default;
}

.uncrrentButton{
    opacity: 0.5;
}

.uncrrentButton:hover{
    opacity: 1;
}