@font-face {
    font-family: 'pixelFont';
    src: url('../../public/fonts/Minecraft.ttf');
}

:root{
    background-color: black;
    font-family: 'pixelFont', Arial, Helvetica, sans-serif;
    color: aliceblue;
}